<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>Disfruta de los animales más exóticos de nuestro Zoológico :) </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/animales']">Ver Animales</a>
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/cuidadores']">Ver Cuidadores</a>
            <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contacto']">Contacta con Nosotros</a>
        </p>
    </div>
</div>