<div class="navigation col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a [routerLink]="['/home']" class="navbar-brand">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

        <nav id="navbarNavDropdown" class="navbar-collapse collapse">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a [routerLink]="['/home']" [routerLinkActive]="['activo']">
                            <i class="material-icons">home</i> Inicio
                        </a>&nbsp;
                    </li>
                    <li class="nav-item active">
                        <a [routerLink]="['/animales']" [routerLinkActive]="['activo']">
                            <i class="material-icons">star</i>Animales
                        </a>&nbsp;
                    </li>
                    <li class="nav-item active">
                        <a [routerLink]="['/cuidadores']" [routerLinkActive]="['activo']">
                            <i class="material-icons">group</i>Cuidadores
                        </a>&nbsp;
                    </li>
                    <li class="nav-item active">
                        <a [routerLink]="['/tienda']" [routerLinkActive]="['activo']">
                            <i class="material-icons">gif</i>Tienda
                        </a>&nbsp;
                    </li>
                    <li class="nav-item active">
                        <a [routerLink]="['/contacto']" [routerLinkActive]="['activo']">
                            <i class="material-icons">comment</i>Contacto
                        </a>
                    </li>
                </ul>
                <!-- MENU DEL REGISTER DEL LADO DERECHO-->
                <!-- SI EL USER NO ESTA LOGUEADO OSEA NO EXISTE IDENTITY ENTONCES MUESTRA ESTO : -->

                <ul class="navbar-nav navbar-right" *ngIf="!identity">
                    <li>
                        <a [routerLink]="['/registro']" [routerLinkActive]="['activo']">
                            <i class="material-icons">person</i>Registro
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']" [routerLinkActive]="['activo']">
                            <i class="material-icons">camera_rear</i>Login
                        </a>
                    </li>
                </ul>
                <!-- SI EL USER  ESTA LOGUEADO OSEA EXISTA IDENTITY ENTONCES MUESTRA ESTO : -->

                <ul class="navbar-nav navbar-right login" *ngIf="identity">
                    <li class="avatar">
                        <img src="{{ url + 'get-image-file/' + identity.image }}" />

                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ identity.name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li *ngIf="identity.role == 'ROLE_ADMIN'">
                                <a [routerLink]="['/admin-panel']">
                                    <i class="material-icons">business_center
                                    </i>Administración
                                </a>
                            </li>

                            <li>
                                <a [routerLink]="['/mis-datos']">
                                    <i class="material-icons">toc</i>Mis Datos
                                </a>
                            </li>
                            <li>
                                <a class="pointer" (click)="logout()">
                                    <i class="material-icons">trending_flat</i>Salir
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

    </nav>
</div>

<div class="col-lg-11">
    <router-outlet></router-outlet>
</div>