<div class="col-lg-12" [@fadeIn]>

    <h1>{{ title }}</h1> <br>
    <!---->

    <div class="row">
        <div class="col-lg-3" *ngFor="let animal of animals">
            <!-- column 1 -->
            <div class="thumbnail">
                <!--  thumbnail 1  -->
                <div class="animal-imagen-mask">
                    <img src="{{ url + 'get-image-animal/' + animal.image }}" alt="{{ animal.name }}" *ngIf="animal.image">
                    <img src="https://via.placeholder.com/200.png" alt="{{ animal.name }}" *ngIf="!animal.image">
                </div>

                <!-- image 1 -->
                <div class="caption">
                    <!-- caption -->
                    <h3> <a [routerLink]="['/animal', animal._id]">{{ animal.name }}</a> </h3>
                </div>
            </div>
        </div>



    </div>


</div>